


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    INSERT INTO public.user_profiles (
        user_id,
        name,
        email,
        role,
        status
    )
    VALUES (
        new.id,
        COALESCE(new.raw_user_meta_data->>'name', split_part(new.email, '@', 1)),
        new.email,
        'user',
        'active'
    )
    ON CONFLICT (user_id) DO NOTHING;

    RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_profiles
    WHERE user_id = auth.uid() AND role = 'Admin'
  );
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "action" "text" NOT NULL,
    "module" "text" NOT NULL,
    "record_id" "text",
    "old_value" "jsonb",
    "new_value" "jsonb",
    "ip_address" "text" DEFAULT 'ΓÇö'::"text",
    "timestamp" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."component_history" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "component_id" "uuid" NOT NULL,
    "movement_type" "text" NOT NULL,
    "from_region_id" "uuid",
    "from_warehouse_id" "uuid",
    "from_device_id" "uuid",
    "to_region_id" "uuid",
    "to_warehouse_id" "uuid",
    "to_device_id" "uuid",
    "moved_by" "uuid",
    "related_request_id" "uuid",
    "related_request_type" "text",
    "notes" "text" DEFAULT ''::"text",
    "moved_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "component_history_movement_type_check" CHECK (("movement_type" = ANY (ARRAY['CREATED'::"text", 'INSTALLED'::"text", 'UNINSTALLED'::"text", 'RELOCATED'::"text"]))),
    CONSTRAINT "component_history_related_request_type_check" CHECK (("related_request_type" = ANY (ARRAY['install'::"text", 'relocation'::"text"])))
);


ALTER TABLE "public"."component_history" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."component_types" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "type_name" "text" NOT NULL,
    "category" "text" DEFAULT ''::"text" NOT NULL,
    "description" "text" DEFAULT ''::"text" NOT NULL,
    "requires_specification" boolean DEFAULT false NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "fields" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL
);


ALTER TABLE "public"."component_types" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."components" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "component_type_id" "uuid",
    "specifications" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "manufacturer" "text" DEFAULT ''::"text" NOT NULL,
    "model" "text" DEFAULT ''::"text",
    "part_number" "text" DEFAULT ''::"text" NOT NULL,
    "compatible_with" "text" DEFAULT ''::"text" NOT NULL,
    "status" "text" DEFAULT 'available'::"text" NOT NULL,
    "condition" "text" DEFAULT 'working'::"text" NOT NULL,
    "region_id" "uuid",
    "warehouse_id" "uuid",
    "installed_in_device_id" "uuid",
    "created_by" "uuid",
    "updated_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "is_deleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."components" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."customers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "customer_name" "text" NOT NULL,
    "customer_type" "text" DEFAULT 'Enterprise'::"text" NOT NULL,
    "contact_person" "text",
    "email" "text",
    "phone" "text",
    "address" "text",
    "notes" "text",
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."customers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."email_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "sender_id" "uuid",
    "to_email" "text" NOT NULL,
    "to_user_id" "uuid",
    "subject" "text" NOT NULL,
    "html_body" "text",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "provider" "text" DEFAULT 'resend'::"text" NOT NULL,
    "provider_id" "text",
    "error_message" "text",
    "notification_id" "uuid",
    "region_id" "uuid",
    "sent_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."email_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."email_messages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "thread_id" "uuid",
    "sender_id" "uuid",
    "sender_email" "text" DEFAULT ''::"text" NOT NULL,
    "sender_name" "text" DEFAULT ''::"text" NOT NULL,
    "subject" "text" DEFAULT '(no subject)'::"text" NOT NULL,
    "body_html" "text" DEFAULT ''::"text" NOT NULL,
    "body_text" "text" DEFAULT ''::"text" NOT NULL,
    "status" "text" DEFAULT 'draft'::"text" NOT NULL,
    "scheduled_at" timestamp with time zone,
    "sent_at" timestamp with time zone,
    "error_message" "text",
    "provider_id" "text",
    "is_system" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."email_messages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."email_recipients" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "message_id" "uuid" NOT NULL,
    "user_id" "uuid",
    "email" "text" NOT NULL,
    "name" "text" DEFAULT ''::"text" NOT NULL,
    "type" "text" DEFAULT 'to'::"text" NOT NULL,
    "is_read" boolean DEFAULT false NOT NULL,
    "read_at" timestamp with time zone,
    "is_deleted" boolean DEFAULT false NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."email_recipients" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."hardware_inventory" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "item_type" "text" NOT NULL,
    "specifications" "jsonb" DEFAULT '{}'::"jsonb" NOT NULL,
    "manufacturer" "text" DEFAULT ''::"text" NOT NULL,
    "model" "text" DEFAULT ''::"text" NOT NULL,
    "serial_number" "text" DEFAULT ''::"text" NOT NULL,
    "asset_tag" "text" DEFAULT ''::"text" NOT NULL,
    "status" "text" DEFAULT 'available'::"text" NOT NULL,
    "condition" "text" DEFAULT 'working'::"text" NOT NULL,
    "region_id" "uuid",
    "warehouse_id" "uuid",
    "created_by" "uuid",
    "updated_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "is_deleted" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."hardware_inventory" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."mail_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "message_id" "uuid",
    "user_id" "uuid",
    "action" "text" NOT NULL,
    "details" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."mail_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notification_templates" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "subject" "text" NOT NULL,
    "html_body" "text" NOT NULL,
    "category" "text" DEFAULT 'system'::"text" NOT NULL,
    "is_active" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."notification_templates" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "title" "text" NOT NULL,
    "message" "text" NOT NULL,
    "type" "text" DEFAULT 'info'::"text" NOT NULL,
    "category" "text" DEFAULT 'system'::"text" NOT NULL,
    "region_id" "uuid",
    "warehouse_id" "uuid",
    "is_read" boolean DEFAULT false NOT NULL,
    "action_url" "text",
    "sender_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."regions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "status" "text" DEFAULT 'active'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."regions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."relocation_requests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "request_number" "text" NOT NULL,
    "requester_id" "uuid" NOT NULL,
    "relocation_type" "text" NOT NULL,
    "inventory_id" "uuid",
    "component_id" "uuid",
    "quantity" integer DEFAULT 1 NOT NULL,
    "source_region_id" "uuid",
    "source_warehouse_id" "uuid",
    "destination_region_id" "uuid",
    "destination_warehouse_id" "uuid",
    "destination_server_id" "uuid",
    "reason" "text" NOT NULL,
    "urgency" "text" NOT NULL,
    "notes" "text",
    "status" "text" DEFAULT 'Draft'::"text" NOT NULL,
    "pm_reviewed_by" "uuid",
    "pm_reviewed_at" timestamp with time zone,
    "pm_comments" "text",
    "admin_reviewed_by" "uuid",
    "admin_reviewed_at" timestamp with time zone,
    "admin_comments" "text",
    "assigned_to" "uuid",
    "completed_by" "uuid",
    "completed_at" timestamp with time zone,
    "completion_notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "source_server_id" "uuid",
    CONSTRAINT "relocation_requests_relocation_type_check" CHECK (("relocation_type" = ANY (ARRAY['INVENTORY'::"text", 'COMPONENT'::"text"]))),
    CONSTRAINT "relocation_requests_status_check" CHECK (("status" = ANY (ARRAY['Draft'::"text", 'Submitted'::"text", 'Pending PM Approval'::"text", 'Rejected by PM'::"text", 'Pending Admin Approval'::"text", 'Rejected by Admin'::"text", 'Approved'::"text", 'Scheduled'::"text", 'In Progress'::"text", 'Completed'::"text", 'Failed'::"text", 'Rolled Back'::"text"]))),
    CONSTRAINT "relocation_requests_urgency_check" CHECK (("urgency" = ANY (ARRAY['Emergency'::"text", 'Critical'::"text", 'High'::"text", 'Medium'::"text", 'Low'::"text"])))
);


ALTER TABLE "public"."relocation_requests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."reservations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "component_id" "uuid",
    "hardware_inventory_id" "uuid",
    "reserved_by" "uuid",
    "note" "text" NOT NULL,
    "reserved_at" timestamp with time zone DEFAULT "now"(),
    "released_at" timestamp with time zone,
    "status" character varying(20) DEFAULT 'active'::character varying,
    CONSTRAINT "reservations_check" CHECK (((("component_id" IS NOT NULL) AND ("hardware_inventory_id" IS NULL)) OR (("component_id" IS NULL) AND ("hardware_inventory_id" IS NOT NULL)))),
    CONSTRAINT "reservations_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['active'::character varying, 'released'::character varying])::"text"[])))
);


ALTER TABLE "public"."reservations" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_activity_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "actor_id" "uuid",
    "action" "text" NOT NULL,
    "details" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_activity_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "name" "text" NOT NULL,
    "email" "text" NOT NULL,
    "role" "text" DEFAULT 'user'::"text",
    "region_id" "uuid",
    "warehouse_id" "uuid",
    "status" "text" DEFAULT 'active'::"text",
    "last_login_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "username" "text",
    "force_password_change" boolean DEFAULT false,
    "last_seen_at" timestamp with time zone
);

ALTER TABLE ONLY "public"."user_profiles" REPLICA IDENTITY FULL;


ALTER TABLE "public"."user_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_regions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "region_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_regions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_warehouses" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "warehouse_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."user_warehouses" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."warehouses" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "region_id" "uuid" NOT NULL,
    "address" "text",
    "contact_person" "text",
    "phone" "text",
    "status" "text" DEFAULT 'active'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."warehouses" OWNER TO "postgres";


ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."component_history"
    ADD CONSTRAINT "component_history_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."component_types"
    ADD CONSTRAINT "component_types_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_messages"
    ADD CONSTRAINT "email_messages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_recipients"
    ADD CONSTRAINT "email_recipients_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."hardware_inventory"
    ADD CONSTRAINT "hardware_inventory_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."mail_logs"
    ADD CONSTRAINT "mail_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notification_templates"
    ADD CONSTRAINT "notification_templates_name_key" UNIQUE ("name");



ALTER TABLE ONLY "public"."notification_templates"
    ADD CONSTRAINT "notification_templates_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."regions"
    ADD CONSTRAINT "regions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_request_number_key" UNIQUE ("request_number");



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_activity_logs"
    ADD CONSTRAINT "user_activity_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_user_id_unique" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."user_regions"
    ADD CONSTRAINT "user_regions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_regions"
    ADD CONSTRAINT "user_regions_user_id_region_id_key" UNIQUE ("user_id", "region_id");



ALTER TABLE ONLY "public"."user_warehouses"
    ADD CONSTRAINT "user_warehouses_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_warehouses"
    ADD CONSTRAINT "user_warehouses_user_id_warehouse_id_key" UNIQUE ("user_id", "warehouse_id");



ALTER TABLE ONLY "public"."warehouses"
    ADD CONSTRAINT "warehouses_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_component_history_component_id" ON "public"."component_history" USING "btree" ("component_id");



CREATE INDEX "idx_component_history_moved_at" ON "public"."component_history" USING "btree" ("moved_at" DESC);



CREATE INDEX "idx_email_logs_created" ON "public"."email_logs" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_email_logs_status" ON "public"."email_logs" USING "btree" ("status");



CREATE INDEX "idx_email_messages_created" ON "public"."email_messages" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_email_messages_sender" ON "public"."email_messages" USING "btree" ("sender_id");



CREATE INDEX "idx_email_messages_status" ON "public"."email_messages" USING "btree" ("status");



CREATE INDEX "idx_email_recipients_message" ON "public"."email_recipients" USING "btree" ("message_id");



CREATE INDEX "idx_email_recipients_user" ON "public"."email_recipients" USING "btree" ("user_id");



CREATE INDEX "idx_mail_logs_created" ON "public"."mail_logs" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_mail_logs_message" ON "public"."mail_logs" USING "btree" ("message_id");



CREATE INDEX "idx_mail_logs_user" ON "public"."mail_logs" USING "btree" ("user_id");



CREATE INDEX "idx_notifications_created" ON "public"."notifications" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_notifications_is_read" ON "public"."notifications" USING "btree" ("is_read");



CREATE INDEX "idx_notifications_user_id" ON "public"."notifications" USING "btree" ("user_id");



CREATE INDEX "idx_regions_name" ON "public"."regions" USING "btree" ("name");



CREATE INDEX "idx_regions_status" ON "public"."regions" USING "btree" ("status");



CREATE INDEX "idx_relocation_requests_requester_id" ON "public"."relocation_requests" USING "btree" ("requester_id");



CREATE INDEX "idx_relocation_requests_status" ON "public"."relocation_requests" USING "btree" ("status");



CREATE INDEX "idx_reservations_component" ON "public"."reservations" USING "btree" ("component_id");



CREATE INDEX "idx_reservations_hardware" ON "public"."reservations" USING "btree" ("hardware_inventory_id");



CREATE INDEX "idx_reservations_reserved_by" ON "public"."reservations" USING "btree" ("reserved_by");



CREATE INDEX "idx_reservations_status" ON "public"."reservations" USING "btree" ("status");



CREATE INDEX "idx_user_regions_region_id" ON "public"."user_regions" USING "btree" ("region_id");



CREATE INDEX "idx_user_regions_user_id" ON "public"."user_regions" USING "btree" ("user_id");



CREATE INDEX "idx_user_warehouses_user_id" ON "public"."user_warehouses" USING "btree" ("user_id");



CREATE INDEX "idx_user_warehouses_warehouse_id" ON "public"."user_warehouses" USING "btree" ("warehouse_id");



CREATE INDEX "idx_warehouse_name" ON "public"."warehouses" USING "btree" ("name");



CREATE INDEX "idx_warehouse_status" ON "public"."warehouses" USING "btree" ("status");



CREATE UNIQUE INDEX "unique_active_component_reservation" ON "public"."reservations" USING "btree" ("component_id") WHERE (("component_id" IS NOT NULL) AND (("status")::"text" = 'active'::"text"));



CREATE UNIQUE INDEX "unique_active_inventory_reservation" ON "public"."reservations" USING "btree" ("hardware_inventory_id") WHERE (("hardware_inventory_id" IS NOT NULL) AND (("status")::"text" = 'active'::"text"));



CREATE INDEX "user_activity_logs_user_id_idx" ON "public"."user_activity_logs" USING "btree" ("user_id", "created_at" DESC);



CREATE UNIQUE INDEX "user_profiles_username_key" ON "public"."user_profiles" USING "btree" ("username") WHERE ("username" IS NOT NULL);



CREATE OR REPLACE TRIGGER "update_component_types_updated_at" BEFORE UPDATE ON "public"."component_types" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_components_updated_at" BEFORE UPDATE ON "public"."components" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_customers_updated_at" BEFORE UPDATE ON "public"."customers" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_hardware_inventory_updated_at" BEFORE UPDATE ON "public"."hardware_inventory" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_regions_updated_at" BEFORE UPDATE ON "public"."regions" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_relocation_requests_updated_at" BEFORE UPDATE ON "public"."relocation_requests" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_user_profiles_updated_at" BEFORE UPDATE ON "public"."user_profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_warehouses_updated_at" BEFORE UPDATE ON "public"."warehouses" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."component_history"
    ADD CONSTRAINT "component_history_from_region_id_fkey" FOREIGN KEY ("from_region_id") REFERENCES "public"."regions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."component_history"
    ADD CONSTRAINT "component_history_from_warehouse_id_fkey" FOREIGN KEY ("from_warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."component_history"
    ADD CONSTRAINT "component_history_moved_by_fkey" FOREIGN KEY ("moved_by") REFERENCES "public"."user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."component_history"
    ADD CONSTRAINT "component_history_to_region_id_fkey" FOREIGN KEY ("to_region_id") REFERENCES "public"."regions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."component_history"
    ADD CONSTRAINT "component_history_to_warehouse_id_fkey" FOREIGN KEY ("to_warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."component_types"
    ADD CONSTRAINT "component_types_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_component_type_id_fkey" FOREIGN KEY ("component_type_id") REFERENCES "public"."component_types"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_installed_in_device_id_fkey" FOREIGN KEY ("installed_in_device_id") REFERENCES "public"."hardware_inventory"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."components"
    ADD CONSTRAINT "components_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_notification_id_fkey" FOREIGN KEY ("notification_id") REFERENCES "public"."notifications"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_logs"
    ADD CONSTRAINT "email_logs_to_user_id_fkey" FOREIGN KEY ("to_user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_messages"
    ADD CONSTRAINT "email_messages_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_recipients"
    ADD CONSTRAINT "email_recipients_message_id_fkey" FOREIGN KEY ("message_id") REFERENCES "public"."email_messages"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."email_recipients"
    ADD CONSTRAINT "email_recipients_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."hardware_inventory"
    ADD CONSTRAINT "hardware_inventory_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."hardware_inventory"
    ADD CONSTRAINT "hardware_inventory_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."hardware_inventory"
    ADD CONSTRAINT "hardware_inventory_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."hardware_inventory"
    ADD CONSTRAINT "hardware_inventory_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."mail_logs"
    ADD CONSTRAINT "mail_logs_message_id_fkey" FOREIGN KEY ("message_id") REFERENCES "public"."email_messages"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."mail_logs"
    ADD CONSTRAINT "mail_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_sender_id_fkey" FOREIGN KEY ("sender_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_admin_reviewed_by_fkey" FOREIGN KEY ("admin_reviewed_by") REFERENCES "public"."user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_assigned_to_fkey" FOREIGN KEY ("assigned_to") REFERENCES "public"."user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_completed_by_fkey" FOREIGN KEY ("completed_by") REFERENCES "public"."user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_component_id_fkey" FOREIGN KEY ("component_id") REFERENCES "public"."components"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_destination_region_id_fkey" FOREIGN KEY ("destination_region_id") REFERENCES "public"."regions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_destination_server_id_fkey" FOREIGN KEY ("destination_server_id") REFERENCES "public"."hardware_inventory"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_destination_warehouse_id_fkey" FOREIGN KEY ("destination_warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "public"."hardware_inventory"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_pm_reviewed_by_fkey" FOREIGN KEY ("pm_reviewed_by") REFERENCES "public"."user_profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_requester_id_fkey" FOREIGN KEY ("requester_id") REFERENCES "public"."user_profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_source_region_id_fkey" FOREIGN KEY ("source_region_id") REFERENCES "public"."regions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_source_server_id_fkey" FOREIGN KEY ("source_server_id") REFERENCES "public"."hardware_inventory"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."relocation_requests"
    ADD CONSTRAINT "relocation_requests_source_warehouse_id_fkey" FOREIGN KEY ("source_warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_component_id_fkey" FOREIGN KEY ("component_id") REFERENCES "public"."components"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_hardware_inventory_id_fkey" FOREIGN KEY ("hardware_inventory_id") REFERENCES "public"."hardware_inventory"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."reservations"
    ADD CONSTRAINT "reservations_reserved_by_fkey" FOREIGN KEY ("reserved_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."user_activity_logs"
    ADD CONSTRAINT "user_activity_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "public"."user_profiles"("user_id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."user_activity_logs"
    ADD CONSTRAINT "user_activity_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."user_profiles"("user_id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."user_regions"
    ADD CONSTRAINT "user_regions_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_regions"
    ADD CONSTRAINT "user_regions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_warehouses"
    ADD CONSTRAINT "user_warehouses_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_warehouses"
    ADD CONSTRAINT "user_warehouses_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "public"."warehouses"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."warehouses"
    ADD CONSTRAINT "warehouses_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "public"."regions"("id") ON DELETE RESTRICT;



CREATE POLICY "Admin can manage user_regions" ON "public"."user_regions" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "Admin can manage user_warehouses" ON "public"."user_warehouses" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "Admins can update all profiles" ON "public"."user_profiles" FOR UPDATE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "Admins can view all profiles" ON "public"."user_profiles" FOR SELECT TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "Admins view all activity logs" ON "public"."user_activity_logs" FOR SELECT TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "Allow delete for authenticated users" ON "public"."warehouses" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Allow insert for authenticated users" ON "public"."warehouses" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Allow read for authenticated users" ON "public"."warehouses" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Allow update for authenticated users" ON "public"."warehouses" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Authenticated users can insert component history" ON "public"."component_history" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Authenticated users can view component history" ON "public"."component_history" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "PMs and Admins can view all relocation requests" ON "public"."relocation_requests" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = ANY (ARRAY['PM'::"text", 'Admin'::"text"]))))));



CREATE POLICY "Users can delete their own reservations" ON "public"."reservations" FOR DELETE USING (("auth"."uid"() = "reserved_by"));



CREATE POLICY "Users can insert own profile" ON "public"."user_profiles" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert their own reservations" ON "public"."reservations" FOR INSERT WITH CHECK (("auth"."uid"() = "reserved_by"));



CREATE POLICY "Users can update own profile" ON "public"."user_profiles" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update their own reservations" ON "public"."reservations" FOR UPDATE USING (("auth"."uid"() = "reserved_by"));



CREATE POLICY "Users can view own profile" ON "public"."user_profiles" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own region assignments" ON "public"."user_regions" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can view own relocation requests" ON "public"."relocation_requests" FOR SELECT USING (("auth"."uid"() = "requester_id"));



CREATE POLICY "Users can view own warehouse assignments" ON "public"."user_warehouses" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can view their own reservations" ON "public"."reservations" FOR SELECT USING (("auth"."uid"() = "reserved_by"));



CREATE POLICY "Users insert activity logs" ON "public"."user_activity_logs" FOR INSERT TO "authenticated" WITH CHECK ((("actor_id" = "auth"."uid"()) OR "public"."is_admin"()));



CREATE POLICY "Users view own activity logs" ON "public"."user_activity_logs" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."audit_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "audit_logs_insert" ON "public"."audit_logs" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "audit_logs_read" ON "public"."audit_logs" FOR SELECT TO "authenticated" USING (("public"."is_admin"() OR ("user_id" = "auth"."uid"())));



ALTER TABLE "public"."component_history" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."component_types" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "component_types_admin_write" ON "public"."component_types" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "component_types_read" ON "public"."component_types" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."components" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "components_delete" ON "public"."components" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "components_insert" ON "public"."components" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "components_read" ON "public"."components" FOR SELECT TO "authenticated" USING ((NOT "is_deleted"));



CREATE POLICY "components_update" ON "public"."components" FOR UPDATE TO "authenticated" USING (("public"."is_admin"() OR ("created_by" = "auth"."uid"())));



ALTER TABLE "public"."customers" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "customers_admin" ON "public"."customers" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "customers_admin_write" ON "public"."customers" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "customers_read" ON "public"."customers" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "em_admin_read" ON "public"."email_messages" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "em_sender_access" ON "public"."email_messages" TO "authenticated" USING (("sender_id" = "auth"."uid"())) WITH CHECK (("sender_id" = "auth"."uid"()));



CREATE POLICY "em_service_all" ON "public"."email_messages" TO "service_role" USING (true) WITH CHECK (true);



ALTER TABLE "public"."email_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "email_logs_admin_insert" ON "public"."email_logs" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "email_logs_admin_read" ON "public"."email_logs" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "email_logs_service_all" ON "public"."email_logs" TO "service_role" USING (true) WITH CHECK (true);



ALTER TABLE "public"."email_messages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."email_recipients" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "er_admin_read" ON "public"."email_recipients" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "er_recipient_read" ON "public"."email_recipients" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "er_recipient_update" ON "public"."email_recipients" FOR UPDATE TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "er_sender_insert" ON "public"."email_recipients" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."email_messages"
  WHERE (("email_messages"."id" = "email_recipients"."message_id") AND ("email_messages"."sender_id" = "auth"."uid"())))));



CREATE POLICY "er_service_all" ON "public"."email_recipients" TO "service_role" USING (true) WITH CHECK (true);



ALTER TABLE "public"."hardware_inventory" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "hardware_inventory_delete" ON "public"."hardware_inventory" FOR DELETE TO "authenticated" USING ("public"."is_admin"());



CREATE POLICY "hardware_inventory_insert" ON "public"."hardware_inventory" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "hardware_inventory_read" ON "public"."hardware_inventory" FOR SELECT TO "authenticated" USING ((NOT "is_deleted"));



CREATE POLICY "hardware_inventory_update" ON "public"."hardware_inventory" FOR UPDATE TO "authenticated" USING (("public"."is_admin"() OR ("created_by" = "auth"."uid"())));



ALTER TABLE "public"."mail_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "ml_admin_read" ON "public"."mail_logs" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "ml_own_insert" ON "public"."mail_logs" FOR INSERT TO "authenticated" WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "ml_own_read" ON "public"."mail_logs" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "ml_service_all" ON "public"."mail_logs" TO "service_role" USING (true) WITH CHECK (true);



ALTER TABLE "public"."notification_templates" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "notifications_admin_insert" ON "public"."notifications" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "notifications_admin_read" ON "public"."notifications" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "notifications_read_own" ON "public"."notifications" FOR SELECT TO "authenticated" USING (("user_id" = "auth"."uid"()));



CREATE POLICY "notifications_service_all" ON "public"."notifications" TO "service_role" USING (true) WITH CHECK (true);



CREATE POLICY "notifications_update_own" ON "public"."notifications" FOR UPDATE TO "authenticated" USING (("user_id" = "auth"."uid"()));



ALTER TABLE "public"."regions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "regions_admin_write" ON "public"."regions" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "regions_read" ON "public"."regions" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."reservations" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "templates_admin_write" ON "public"."notification_templates" TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text"))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."user_profiles"
  WHERE (("user_profiles"."user_id" = "auth"."uid"()) AND ("user_profiles"."role" = 'Admin'::"text")))));



CREATE POLICY "templates_read" ON "public"."notification_templates" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."user_activity_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_regions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_warehouses" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."warehouses" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "warehouses_admin_write" ON "public"."warehouses" TO "authenticated" USING ("public"."is_admin"()) WITH CHECK ("public"."is_admin"());



CREATE POLICY "warehouses_read" ON "public"."warehouses" FOR SELECT TO "authenticated" USING (true);





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";






GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";






















































































































































GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON TABLE "public"."component_history" TO "anon";
GRANT ALL ON TABLE "public"."component_history" TO "authenticated";
GRANT ALL ON TABLE "public"."component_history" TO "service_role";



GRANT ALL ON TABLE "public"."component_types" TO "anon";
GRANT ALL ON TABLE "public"."component_types" TO "authenticated";
GRANT ALL ON TABLE "public"."component_types" TO "service_role";



GRANT ALL ON TABLE "public"."components" TO "anon";
GRANT ALL ON TABLE "public"."components" TO "authenticated";
GRANT ALL ON TABLE "public"."components" TO "service_role";



GRANT ALL ON TABLE "public"."customers" TO "anon";
GRANT ALL ON TABLE "public"."customers" TO "authenticated";
GRANT ALL ON TABLE "public"."customers" TO "service_role";



GRANT ALL ON TABLE "public"."email_logs" TO "anon";
GRANT ALL ON TABLE "public"."email_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."email_logs" TO "service_role";



GRANT ALL ON TABLE "public"."email_messages" TO "anon";
GRANT ALL ON TABLE "public"."email_messages" TO "authenticated";
GRANT ALL ON TABLE "public"."email_messages" TO "service_role";



GRANT ALL ON TABLE "public"."email_recipients" TO "anon";
GRANT ALL ON TABLE "public"."email_recipients" TO "authenticated";
GRANT ALL ON TABLE "public"."email_recipients" TO "service_role";



GRANT ALL ON TABLE "public"."hardware_inventory" TO "anon";
GRANT ALL ON TABLE "public"."hardware_inventory" TO "authenticated";
GRANT ALL ON TABLE "public"."hardware_inventory" TO "service_role";



GRANT ALL ON TABLE "public"."mail_logs" TO "anon";
GRANT ALL ON TABLE "public"."mail_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."mail_logs" TO "service_role";



GRANT ALL ON TABLE "public"."notification_templates" TO "anon";
GRANT ALL ON TABLE "public"."notification_templates" TO "authenticated";
GRANT ALL ON TABLE "public"."notification_templates" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."regions" TO "anon";
GRANT ALL ON TABLE "public"."regions" TO "authenticated";
GRANT ALL ON TABLE "public"."regions" TO "service_role";



GRANT ALL ON TABLE "public"."relocation_requests" TO "anon";
GRANT ALL ON TABLE "public"."relocation_requests" TO "authenticated";
GRANT ALL ON TABLE "public"."relocation_requests" TO "service_role";



GRANT ALL ON TABLE "public"."reservations" TO "anon";
GRANT ALL ON TABLE "public"."reservations" TO "authenticated";
GRANT ALL ON TABLE "public"."reservations" TO "service_role";



GRANT ALL ON TABLE "public"."user_activity_logs" TO "anon";
GRANT ALL ON TABLE "public"."user_activity_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."user_activity_logs" TO "service_role";



GRANT ALL ON TABLE "public"."user_profiles" TO "anon";
GRANT ALL ON TABLE "public"."user_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."user_regions" TO "anon";
GRANT ALL ON TABLE "public"."user_regions" TO "authenticated";
GRANT ALL ON TABLE "public"."user_regions" TO "service_role";



GRANT ALL ON TABLE "public"."user_warehouses" TO "anon";
GRANT ALL ON TABLE "public"."user_warehouses" TO "authenticated";
GRANT ALL ON TABLE "public"."user_warehouses" TO "service_role";



GRANT ALL ON TABLE "public"."warehouses" TO "anon";
GRANT ALL ON TABLE "public"."warehouses" TO "authenticated";
GRANT ALL ON TABLE "public"."warehouses" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































